$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

// #message, #sign-up, #sign-in, #change-password,
// #sign-out, #quotes-actions {
//   display: none;
// }

.create-a-quote,
.show-my-quotes,
.get-a-quote,
.delete-a-quote,
.see-all-users,
.homepagebutton,
#index-quotes,
.quotes-filter {
  display: none;
}


body {
  background: url("../images/cloud_background.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
header {
    width: 100%;
    background: #3a5d90;
    text-align: center;
    padding: 10px;
    color: white;
    position: fixed;
    top: 0;
    z-index: 10;
}

header img {
    width: 1.3em;
    vertical-align: bottom;
    margin-right: .2em;
}

.brand h1 {
    margin: 0;
    font-family: 'Kanit', sans-serif;
}

footer {
    background: #3a5d90;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

footer button.btn.btn-outline-secondary:first-child {
    margin-right: 20px;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 60px;
    margin-bottom: 80px;
    z-index: 2;
    position: relative;
    max-width: 650px;
}

.hasMessage .container-fluid {
  margin-top: 100px;
}

p.lede {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 1.2em;
    padding: .5em 1em;
    background: white;
    border-radius: 8px;
    border: 1px solid royalblue;
}

body:after {
    content: '';
    height: 100vh;
    width: 100%;
    background: white;
    display: block;
    position: fixed;
    top: 0;
    z-index: 1;
    opacity: .5;
}

.user {
  display: none;
}

p.quote {
    font-size: 1.2em;
}

p.quote:before {
    content: '"';
}

p.quote:after {
    content: '"';
}

.quote-block {
    padding: 1em;
    border-bottom: 1px dotted;
}

p.author {
    text-align: right;
    font-style: italic;
    font-size: 1.2em;
    color: #3a5d90;
}

p.author:before {
    content: '~';
    margin-right:  5px;
    font-size: 1.2em;
}

.input-group.mb-3 {
    width: 100%;
    margin-bottom: 2em;
}

// #quotes-actions {
//   display: none;
// }

.user {
    border: 1px solid royalblue;
    padding: 10px;
    border-radius: 8px 8px 0;
    margin-bottom: 1em;
    background: white;
    margin-top: 2em;
}

.signedinbuttons {
  display: none;
}

.signed-in .loginbuttons {
  display: none;

}

.signed-in .signedinbuttons {
  display: block;
}

#message {
    position: absolute;
    z-index: 9;
    margin: 0;
    width: 100%;
    padding: 10px;
    top: 68px;
    text-align: center;
}

.add-quote {
  display: none;
}

.signed-in #index-quotes,
.signed-in .quotes-filter,
.signed-in .create-a-quote {
  display: inline-block;
}

.signed-in .user {
  display: block;
}
button.add-quote {
    float: right;
    width: 55%;
    white-space: normal;
    background: #3379b7;
    color: #FFF;
    max-width: 140px;
    margin-left: 10px;
}
